
@{
    ViewBag.Title = "Makalelerim";
}
@using PagedList.Mvc; @*//import this so we get our HTML Helper*@
@using PagedList; @*//import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@

@model IEnumerable<logosblog.Models.Makale>

<section class="s-content">
    <article class="row format-standard">
        <div class="col-twelve">
            <div class="table-responsive">
                <h3 class="align-center">Makalelerim</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Başlık</th>
                            <th class="align-center">Yazar</th>
                            <th class="align-center">Tarih</th>
                            <th class="align-center">Düzenle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var mkl in Model)
                        {

                            <tr>
                                <td><a href="/@mkl.Kategori.Adi/@mkl.MakaleId/@mkl.Baslik.Replace(" ","-")">@mkl.Baslik</a></td>
                                <td>@mkl.Kullanici.Adi @mkl.Kullanici.Soyadi</td>
                                <td>@mkl.EklenmeTarihi</td>
                                @if (DateTime.Now < mkl.EklenmeTarihi.AddDays(2))
                                {
                                    <td class="align-center"><a href="/MakaleDuzenle/@mkl.MakaleId" class="fa fa-edit"></a></td>
                                }
                                else
                                {
                                    <td class="align-center">Düzenleme Tarihi Geçti</td>
                                }
                                <td class="align-center"><a href="/MakaleSil/@mkl.MakaleId" onclick="return confirm('Bu makaleyi silmek istediğinizden emin misiniz?');" class="fa fa-remove"></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Makalelerim", new { page }))
            </div><br /><br /><br /><br />
        </div>
    </article>
</section>
